* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.87);
}

h1, .card-title {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

p, .card-text {
  font-family: 'Playfair Display', serif;
}

.app-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.home-hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.nft-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nft-card img {
  width: 100%;
  height: auto;
}

.nft-card p {
  margin: 10px;
  font-size: 1rem;
  color: #333;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  padding: 70px;
}

.content-container {
  width: 50%;
  max-width: 1200px;
}
